@import "./typography.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(0deg, #150937, #150937),
        radial-gradient(
            60.4% 60.4% at 72.76% 81.19%,
            rgba(51, 202, 175, 0.44) 0%,
            rgba(51, 202, 175, 0) 100%
        );
}

.btnBg {
    background: linear-gradient(93.22deg, #44e6d2 8.1%, #26d797 93.89%);
}
